torchvision==0.10.0
numpy==1.18.5
# opencv_python==4.5.1.48
opencv_contrib_python==4.5.1.48
# opencv_contrib_python==4.3.0.38
torch==1.9.0
albumentations==1.1.0
matplotlib==3.4.3
mediapipe==0.8.7.3 # instead of 0.8.7
pgi==0.0.11.2
# PyGObject==3.44.1
pytorch_lightning==1.4.9
PyYAML==6.0
protobuf==3.19.*
torchmetrics==0.6.0
